<div class="row animated fadeIn fast">
  <div class="col-12">
      <div class="card">
          <div class="card-body">

            <input type="text"
                  class="form-control"
                  placeholder="Buscar Hospital"
                  #termino
                  (keyup)="buscar(termino.value)"
            />

          </div>
      </div>
  </div>
</div>



<div class="row animated fadeIn fast" *ngIf="cargando">
  <div class="col-12">

    <div class="alert alert-info text-center" >
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x" ></i>
      <p class="mb-0">Espere ...</p>
    </div>

  </div>
</div>


<div class="row" *ngIf="!cargando">
  <div class="col-12">
    <div class="card">

        <div class="card-body">
          <div class="text-right">
            <button
            (click)="abrirCrear()"
            class="btn btn-outline-primary">
              <i class="fa fa-hospital-o">

              </i>
              Crear Hospital
            </button>
          </div>
            <h4 class="card-title">Hospitales {{hospitales.length}}</h4>
            <h6 class="card-subtitle">Hospitales Registrados</h6>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th  class="w100">Foto</th>
                            <th>Nombre</th>

                            <th class="text-nowrap w100">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let hospital of hospitales">

                            <td class="text-center">
                              <img
                              (click)="abrirModalImagen(hospital)"
                              class="avatarH cursor" src="{{hospital.img | imagen:'hospitales'  }}" [alt]="hospital.nombre">
                              </td>
                            <td>
                              <input [(ngModel)]="hospital.nombre" type="text"  class="form-control" placeholder="Nombre del Hospital"/>
                            </td>
                            <td class="text-nowrap text-center">
                                <a
                                data-toggle="tooltip"
                                 (click)="save(hospital)"
                                 class="cursor"
                                 data-original-title="Guardar Cambios">
                                 <i class="fa fa-save text-inverse m-r-10"></i>
                                </a>
                                <a
                                  (click)="eliminar(hospital)"
                                  class="cursor"
                                 data-toggle="tooltip"
                                 data-original-title="Borrar"> <i class="fa fa-close text-danger"></i>
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <!-- <button class="btn btn-secondary">
              Anterior
            </button>
            &nbsp;
            <button class="btn btn-secondary">
              Siguiente
            </button> -->


        </div>
    </div>
  </div>
</div>
