/* You can add global styles to this file, and also import other style files */
.fast{-webkit-animation-duration:0.3s;
  animation-duration:0.3s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both
}

#themecolors .selector{
    cursor: pointer;
}

.img-avatar{
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-right: 25%;
  margin-left: 25%;
}

.w100{
  width: 100px;
}

.avatar{
  width: 50px;
  border-radius: 100%;
  border: 1px solid grey
}

.cursor:hover {
  cursor:pointer;
 }

 .w140{
   width: 140px;
 }

 .fondo-modal-imagen{
   background-color: rgba(0, 0, 0, 0.4);
   position: fixed;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   z-index: 99;
 }

 .oculto{
   display: none;
 }

 .avatarH{
  width: 65px;
  border-radius: 10%;
  border: 1px solid grey
 }
